@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Sửa từ "Inter" thành "Be Vietnam Pro" */
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #f8fafc; /* Màu nền xám xanh nhạt như yêu cầu */
}
